@import '../common/global-set';
%px{
	margin:0;
	padding:0;
}

a{
	text-decoration:none;
}
body{
	@extend %px;
    background-color: #eff0f0;
}
p,span,ul,li{
	@extend %px;
}
.global-center {
	padding-top: 24px;
	padding-bottom: 65px;
	.theme {
		width: 168px;
		height: 40px;
		margin-left: 98px;
		margin-bottom: 26px;
		line-height: 40px;
		background: url('../../img/common/theme.png');
		span {
			font-size: 22px;
			color: #fbfdfd;
			font-family: $family;
		}
	}

	// 文章总体展示
	.article {
		width: 770px;
		margin: 0 auto;
		min-height: 500px;

		// 标题部分
		.title {
			height: 60px;
			width: 100%;
			font-size: 25px;
			color: #0a0a0a;
			line-height: 60px;
			background-color: $global-bg-g;
		}

		// 内容部分
		.content {
			.date_auth {
				color: $global-bg-r;
				font-size: 15px;
				margin-top: 12px;
				.author {
					margin-left: 50px;
				}
			}
			.download {
				margin-left: 38px;
				margin-top: 14px;
				background: url('../../img/teaching_detail/download.png') no-repeat 0px 3px;
				a {
					color: $global-bg-b;
					font-size: 15px;
					margin-left: 22px;
					margin-top: -5px;

				}
			}
			.con_words {
				width: 100%;
				margin-top: 10px;
				p {
				line-height: 30px;
				color: #0a0a0a;
				text-indent: 2em;
				}
			}		
		}
	}
}