$global-w:960px;
$global-fontbg:#0076c9;
$global-font:#5c5c5c;
$global-bg:#eff0f0;
$bg-color: #fcf9f9;
$family:"微软雅黑";
/*to 960px center*/
.global-center{
  margin-left: auto;
  margin-right: auto;
  width: $global-w;
  background-color: $bg-color;
  min-height: 500px;
}
/*for ie6/7*/
.inline-block{
  display:inline-block;
  *display:inline;
  *zoom:1;
}